# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Jon E. Froehlich
email: jonf@cs.uw.edu
description: >- # this means to ignore newlines until "baseurl:"
  Professor Froehlich's academic webpage.
twitter_username: jonfroehlich
github_username: jonfroehlich
minimal_mistakes_skin: default
search: false

# Social media and social sharing
twitter:
  username: "jonfroehlich" # See: https://mmistakes.github.io/minimal-mistakes/docs/configuration/#site-twitter-username

og_image: /assets/images/MakeabilityLab-Logo-v3-OriginalColors_1200x628.png # https://mmistakes.github.io/minimal-mistakes/docs/configuration/#open-graph-default-image

social:
  links:
    - https://twitter.com/jonfroehlich
    - https://www.linkedin.com/in/jonfroehlich
    - https://hci.social/web/@jonfroehlich

# https://mmistakes.github.io/minimal-mistakes/docs/navigation/#breadcrumbs-beta
breadcrumbs: true  # disabled by default

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /blog/page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Jon E. Froehlich"
  avatar : "/assets/images/JonFroehlich_PhotoByDennisWise.jpg"
  bio    : "Professor<br/>[Allen School of Computer Science](http://cs.washington.edu/)<br/>University of Washington
            <br/><br/>Director, [Makeability Lab](https://makeabilitylab.cs.washington.edu)<br/>Associate Director, [CREATE](https://create.uw.edu/)<br/>
            Associate Director, [PacTrans](http://depts.washington.edu/pactrans/)<br/>Member, [DUB](http://dub.uw.edu/)
            <br/><br/>**Contact:**<br/>Paul G. Allen Center, Room 642<br/><jonf@cs.uw.edu>
            <br/><br/>**ORCID:**<br/>[0000-0001-8291-3353](https://orcid.org/0000-0001-8291-3353)"
  links:
    - label: "Makeability Lab"
      icon: "makelab-logo"
      url: "https://makeabilitylab.cs.washington.edu/"
    - label: "Lab Handbook"
      icon: "svg-inline--fa fa-w-14 fa-fw makelab-logo"
      url: "https://docs.google.com/document/d/1YiiDsfpiolpXjUTj8xWrQwQQUzqrfqT9bocOpaYDrtI"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/jonfroehlich"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/jonfroehlich"
    - label: "Google Scholar"
      icon: "fab fa-fw fa-google"
      url: "https://scholar.google.com/citations?user=nExKrpsAAAAJ&hl=en"

footer:
   links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:jonf@cs.uw.edu"
    - label: "Makeability Lab"
      icon: "fas fa-fw fa-link"
      url: "https://makeabilitylab.cs.washington.edu/"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/jonfroehlich"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/jonfroehlich"
    - label: "Google Scholar"
      icon: "fab fa-fw fa-google"
      url: "https://scholar.google.com/citations?user=nExKrpsAAAAJ&hl=en"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# analytics:
#   provider: "google-gtag"
#   google:
#     tracking_id: "UA-28482802-2"
#     anonymize_ip: false # default
